doctype html
html
  head
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.snow.min.css")
    link(rel="stylesheet", href="/style/dist/style.css")
  body
    script(src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.min.js")
    script(src="/dist/index.js")
