@import url("https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lightgallery.min.css")
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
@import url('https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')
