@import "libs"
@import "table"
@import "buttons"
@import "admin"
@import "constants"
@import "fonts"
@import "queries"


html
  height: 100%;
  margin 0
  padding 0
  overflow-x hidden

body
  margin 0
  padding 0
  font-family 'Roboto', sans-serif
  font-display swap
  width 100%
  overflow-x hidden

.wrapper
  height 100%

h1
  padding-top 0
  margin-top 0

  +mobile()
    font-size 16px

ul,li
  padding 0
  margin 0

  list-style-type none

.header
  width content-width
  height 80px
  margin 0 auto
  display flex
  justify-content space-between
  align-items center

  +tablet()
    width 100%
  +mobile()
    width 100%

  h2
    font-weight lighter

  .profile-image
    width 160px
    height 160px
    border-radius 80px
    border 1px solid #000
    margin 0 auto
    overflow hidden

    video
      width 100%
      height 100%
      border-radius 80px

  .menu
    display flex
    .dark-mode-toggle
      display block
      padding-left 16px
      padding-right 16px
      font-size 26px


    .socials
      margin 0
      padding 0
      display flex
      justify-content center

      .social-item
        display block
        padding-left 16px
        padding-right 16px
        font-size 26px

        a
          color #000
          text-decoration none
          &:visited 
            color #000

.line
  width 50%
  margin 0 auto
  height 1px
  background-color #000

.posts-container
  width 100%

  .post
    box-sizing border-box
    margin-top separator
    margin-bottom separator
    
    .post-content
      line-height 25px

    .title
      max-width 300px
      margin-bottom separator

      +tablet()
        width 100%
      +mobile()
        width 100%

      .title-line
        width 100%
        height 1px
        margin-bottom 12px
      
      h1
        padding-bottom 0
        margin-bottom 0

      .post-date
        font-weight bold

        +mobile()
          font-size 12px

    .post-content
      width content-width
      margin 0 auto
      color #000

      +tablet()
        width 100%
      +mobile()
        width 100%

    &.cover-true
      width 100%

      .post-content
        padding separator
        box-sizing border-box

      .cover-image
        position relative
        height 100vh
        background-repeat no-repeat
        background-size cover 
        background-position center center
        //background-attachment fixed

        +tablet()
          height 460px

        +mobile()
          height 300px

        .title
          background-color #000
          color #fff
          position absolute
          bottom 0
          padding separator

          .title-line
            background-color #fff

    &.cover-false
      width content-width
      margin 0 auto

      +tablet()
        width 100%
      +mobile()
        width 100%

      .title
        color #000
          
        .title-line
          background-color #000

.post-single
  .post
    margin-top 0 !important
    margin-bottom 0 !important

.post-url
  padding-top separator
  padding-bottom separator

.image-container
  position relative
  display flex
  flex-direction row
  flex-wrap wrap

  .image-preview-overlay
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    opacity 0
    display flex
    justify-content center
    align-items center

    &:hover
      opacity 1
      background-color rgba(0,0,0, 0.7)

    .image-preview-remove-icon
      padding separator
      border 1px solid #fff
      color #fff
      display flex
      justify-content center
      align-items center

      &:hover
        background-color #fff
        color #000

.image-preview
  position relative
  display flex
  justify-content center
  align-items center
  max-width 200px
  margin-top separator
  margin-bottom separator
  margin-right separator

  img
    width 100%

.field-images
  margin-bottom separator

.lightgallery
  width content-width
  margin 0 auto
  display flex
  margin-top separator
  display flex
  flex-wrap wrap

  +mobile()
    width 100%

  a
    display flex
    flex: 1 0 21%;
    justify-content center
    align-items center
    border 1px solid #000
    margin-right separator
    margin-bottom separator

    +mobile()
      flex 1 0 100%

    img
      max-width 100%
      height auto

.login-form
  display flex
  justify-content center
  align-items center
  flex-direction column
  height 100vh

.text-center
  text-align center

.space-top
  padding-top separator


// Overloading quill style
.ql-video
  //margin-top separator
  width 100%
  height 640px

  +tablet()
    height 450px

  +mobile()
    height 300px

.navigation-back
  margin 0 auto
  margin-bottom separator

.hljs
  font-size 17px


// Dark mode
.dark-mode-false
  background-color #fff
  color #000

  transition: background-color .5s;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  -moz-transition: background-color .5s;

.dark-mode-true

  background-color #000
  color #fff

  transition: background-color .5s;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  -moz-transition: background-color .5s;
  
  .posts-container 
    .post
      .title
        color #fff
        .title-line
          background-color #fff
      .post-content
        color #fff
      .lightgallery
        a
          border 1px solid #fff
  .header .menu .socials .social-item 
    a 
      color #fff
      &:visited
        color #fff
