@import "libs"
@import "table"
@import "buttons"

separator = 25px


h1
  padding-top 0
  margin-top 0

ul,li
  padding 0
  margin 0

  list-style-type none

.admin-container
  height 100vh
  max-width 1100px
  margin 0 auto
  display flex

  .admin-menu
    padding-right separator
    padding-top separator
    border-right 1px solid #000

  .content
    width 100%
    padding-top separator
    padding-left separator

    .top-bar
      display flex
      justify-content space-between

.label
  display block
  margin-bottom 12.5px

.editor
  margin-bottom separator

.text-input
  font-size 16px
  margin-bottom separator
  border 0
  border-bottom 1px solid #000
  outline none

.posts-container
  max-width 1024px
  margin 0 auto
  padding separator
